PORT=3000
NODE_ENV=development
# Postgres
PG_CONTAINER_NAME=wish-magic-db-dev
POSTGRES_USER=student
POSTGRES_PASSWORD=student
POSTGRES_DB=wish_magic_dev
# db service name form docker compose.yaml
POSTGRES_HOST=db
POSTGRES_PORT=5432
#JWT
JWT_SECRET=supert-secret-jwt-token